<!DOCTYPE html>

<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="img/158855.jpg" />
        <p>{{about}}</p>
    </div>
    {{>footer}}
</body>

</html>